body{
    font-size: 12px; 
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    background-image: url(images/subtle_freckles.png);
    background-color:#FDF6E3;
}

h1{
    color:#666666;
    font-style:italic;
    text-decoration:none;
    font-weight:lighter;
    font-size: 20px; 
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h2{
    color:#666666;
    text-decoration:none;
    //font-weight:lighter;
    font-size: 16px; 
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h3{
    text-indent:0px;
    color:#666666;
    text-decoration:none;
    font-weight:lighter;
    font-size: 18px; 
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a{
    color:#666666;
    text-decoration:none;
    font-weight:lighter;
    font-size: 20px; 
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.nav{
    color:#666666;
    text-decoration:none;
    font-weight:lighter;
    font-size: 36px; 
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#container{
    width:600px;
    margin:auto;
    margin-top:50px;
}

#nav{
    width:300px;
    float:left;
}

#content{
    width:300px;
    float:right;
    margin-top:auto;
    margin-bottom:auto;
}

#content > p{
    margin-left:50px;
}

.clear{
    clear:both;
}