{{> header }}
<body>
<div id="container">

  <div id="nav">
  {{#nav}}
    <div class="nav" data-content="{{ page }}" style="background:#{{ color }}">
      <a class="nav" href="{{ page }}.html">
        {{ page }}
      <br>
      </a>
    </div>
  {{/nav}}
  </div>
  <div id="content">
    {{{ content }}}
  </div>

  <br class="clear" />
</div>
</body>
</html>

{{> footer }}
