{{> header }}
<body>
<div id="container">

  <div id="nav">
  {{#nav}}
    {{> nav}}
  {{/nav}}
  </div>
  <div id="content">
    {{{ content }}}
  </div>

  <br class="clear" />
</div>
</body>
</html>

{{> footer }}
